<div [ngClass]="classeCss">
  <label [attr.for]="id"> {{ label }} </label>
  <input [type]="type" class="form-control" [id]="nome" [readonly]="!!isReadOnly" [(ngModel)]="value">

  <app-error-msg [control]="control" [label]="label"></app-error-msg>
</div>