<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="template-form">Form Template</a>
			</li>
			<li class="nav-item" routerLinkActive="active">
				<a class="nav-link" routerLink="data-form">Form Reactive</a>
			</li>
		</ul>
	</div>
</nav>

<div class="container mt-2">
	<router-outlet></router-outlet>
</div>
