<p>Descrição: {{ tarefa.desc }}</p>

<!-- <p>Responsável: {{ tarefa.responsavel.nome }}</p> -->

<p>Responsável: {{ tarefa.responsavel != null ? tarefa.responsavel.nome : '' }}</p>


<!-- Funciona como o ternário, caso esteja nulo ele adc vazio -->
<p>Responsável: {{ tarefa.responsavel?.nome }}</p>

