<div class="card">
  <div class="card-header">
    <ng-content select=".titulo"></ng-content>
  </div>
  <div class="card-body">
    <ng-content select=".corpo"></ng-content>
  </div>
</div>
<button class="btn btn-primary">
  <ng-content select=".botao"></ng-content>
</button>