<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch>-->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
    <div class="titulo">Título</div>
    <div class="corpo">Corpo</div>
    <div class="botao">OK</div>
</app-exemplo-ng-content> -->
<app-diretivas-customizadas></app-diretivas-customizadas>