<h2>Lista de Cursos</h2>
<div class="collection">
	<a href="#!" class="collection-item" 
	*ngFor="let curso of cursos"
	[routerLink]="[curso.id]">
		{{ curso.nome }}
	</a>
</div>
<p>
	Página: {{ pagina }}
</p>

<button class="waves-effect waves-light btn" (click)="proximaPagina()">Próxima Página</button>

<!-- router -->
<router-outlet>
	
</router-outlet>