<!-- <div>
  <button class="btn btn-primary" (click)="decrementa()">-</button>
  <input type="text" [value]="valor" readonly>
  <button class="btn btn-primary" (click)="incrementa()">+</button>
</div> -->

<!-- Aula de Acesso ao DOM e ao Template com ViewChild -->
<div>
  <button class="btn btn-primary" (click)="decrementa()">-</button>
  <input type="text" [value]="valor" readonly #campoInput>
  <button class="btn btn-primary" (click)="incrementa()">+</button>
</div>